<div class="container mt-5">
    <h2 class="text-center mb-4">Editar Cliente</h2>
    <form [formGroup]="clienteForm" (ngSubmit)="salvarCliente()" class="row g-3">
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" id="nome" formControlName="nome" class="form-control" required />
        <div *ngIf="clienteForm.controls['nome'].invalid && clienteForm.controls['nome'].touched" class="text-danger">
          Nome é obrigatório.
        </div>
      </div>
  
      <div class="col-md-6">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" id="email" formControlName="email" class="form-control" required />
        <div *ngIf="clienteForm.controls['email'].invalid && clienteForm.controls['email'].touched" class="text-danger">
          E-mail é obrigatório e deve ser válido.
        </div>
      </div>
  
      <div class="col-md-6">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="text" id="telefone" formControlName="telefone" class="form-control" maxlength="15"  mask="(00) 00000-0000" required />
      </div>
  
      <div class="col-md-6">
        <label for="cep" class="form-label">CEP</label>
        <div class="input-group">
          <input type="text" id="cep" formControlName="cep" class="form-control" required maxlength="9" mask="00000-000" />
          <button type="button" (click)="buscarEndereco()" class="btn btn-secondary">Buscar Endereço</button>
        </div>
      </div>
  
      <div class="col-md-6">
        <label for="endereco" class="form-label">Endereço</label>
        <input type="text" id="endereco" formControlName="endereco" class="form-control" readonly />
      </div>
  
      <div class="col-md-6">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" id="bairro" formControlName="bairro" class="form-control" readonly />
      </div>
  
      <div class="col-md-6">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" id="cidade" formControlName="cidade" class="form-control" readonly />
      </div>
  
      <div class="col-md-6">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" id="estado" formControlName="estado" class="form-control" readonly />
      </div>
  
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary" [disabled]="clienteForm.invalid">Salvar</button>
        <a [routerLink]="['/clientes']" class="btn btn-secondary">Voltar</a>
      </div>
    </form>
  </div>
  